.container {
  padding: 20px;
  margin: 20px;
}

#target .msg {
  color: hsl(40, 90%, 48%);
  font-size: 20pt;
}

#playerArea {
  float:left;
  width:100px;
  border-right:1px solid black;
  height:300px;
  padding:10px;
  overflow:scroll-y;
}

#trickArea {
  float:left;
  width:300px;
  height:250px;
  overflow: scroll-y;
  padding:10px;
}

#cardArea {
  float:left;
  width:100px;
  border-right:1px solid black;
  height:300px;
  padding:10px;
  overflow:scroll-y;
}

#messageBox {
  height:120px;
  width:120px;
  border:1px solid #ccc;
  overflow:auto;
}

.custom-combobox {
  position: relative;
  display: inline-block;
}
.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
  /* support: IE7 */
  *height: 1.7em;
  *top: 0.1em;
}
.custom-combobox-input {
  margin: 0;
  padding: 0.3em;
}
