<!DOCTYPE html>
<!-- game_table.html 4/22/2013 Theresa Lee-->

<html lang='en'>
<head>
   <script type="text/javascript" 
     src="{{ url_for('static', filename='jquery.js') }}"></script>
   <script type="text/javascript"
     src="{{ url_for('static', filename='socket.io.js') }}"></script>
   <script type="text/javascript"
     src="{{ url_for('static', filename='main.js') }}"></script>
   <script type="text/javascript"
     src="{{ url_for('static', filename='play_game.js') }}"></script>
   <script type="text/javascript">
     reconnect('{{ session.nickname }}', '{{ session.password|safe }}');
   </script>
   <link rel="stylesheet" type="text/css" 
     href="{{ url_for('static', filename='main.css') }}" />

    <meta charset="UTF-8" /> 
    <title>
        Cards With Friends
    </title>

</head>

<body>
<h1>
    Cards With Friends
</h1>
<div id="hand"></div>

<div id="cardGame">
<div id=playerArea>
	<b>PLAYERS</b>
	<div id="players"></div>
</div>
<div id=trickArea>
  <b>Current Trick</b>
	<div id="trick"></div>
</div>
<div id="playerInfo">
	<div id="tricksTaken"></div>
	<div id="money"></div>
	<div id="score"></div>
</div>
<form name="bid"> 
    <select id="bids" name="bids" size="1">  
    </select> 
</form>
<div id="messageBox">
</div>
</body>
</html>
